@import '../../styles/defaults.scss';

.menu-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-button-bar {
        position: absolute;
        width:42%;
        height: 2px;
        background: $shellWhite;
    }

    .menu-button-bar:nth-child(1) {
        top: 42%;
    }

    .menu-button-bar:nth-child(2) {
        bottom: 42%;
        opacity: 0;
    }

}

