@font-face {
    font-family: 'NeutrifStudio-Regular';
    url: src('../fonts/NeutrifStudio-Regular.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-RegularItalic';
    url: src('../fonts/NeutrifStudio-RegularItalic.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-Medium';
    url: src('../fonts/NeutrifStudio-Medium.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-MediumItalic';
    url: src('../fonts/NeutrifStudio-MediumItalic.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-SemiBold';
    url: src('../fonts/NeutrifStudio-SemiBold.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-SemiBoldItalic';
    url: src('../fonts/NeutrifStudio-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-Bold';
    url: src('../fonts/NeutrifStudio-Bold.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-BoldItalic';
    url: src('../fonts/NeutrifStudio-BoldItalic.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-ExtraBold';
    url: src('../fonts/NeutrifStudio-ExtraBold.ttf');
}

@font-face {
    font-family: 'NeutrifStudio-ExtraBoldItalic';
    url: src('../fonts/NeutrifStudio-ExtraBoldItalic.ttf');
}

//Roboto mono fonts
@font-face {
    font-family: 'RobotMono-Bold';
    url: src('../fonts/RobotMono-Bold.ttf');
}

@font-face {
    font-family: 'RobotMono-Regular';
    url: src('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'RobotMono-Medium';
    url: src('../fonts/RobotoMono-Medium.ttf');
}

@font-face {
    font-family: 'RobotMono-SemiBold';
    url: src('../fonts/RobotoMono-SemiBold.ttf');
}

@font-face {
    font-family: 'RobotMono-Light';
    url: src('../fonts/RobotoMono-Light.ttf');
}