.navbar-container {
    position: fixed;
    top: 80px;
    right: 100px;
}

.navbar-link {
    font-size: 20px;
    font-family: Inter-Bold;
}

@media(max-width: 500px) {
    .navbar-container {
        top: 6%;
        right: 20px;
    }
}